USE [StatisticDataBase]
GO
/****** Object:  Table [dbo].[Meters]    Script Date: 21.02.2025 22:01:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Meters](
	[Id_Meters] [int] IDENTITY(1,1) NOT NULL,
	[Title] [varchar](max) NOT NULL,
	[Type_id] [int] NULL,
	[OBJ_id] [int] NOT NULL,
	[Price] [money] NULL,
 CONSTRAINT [PK_Meters] PRIMARY KEY CLUSTERED 
(
	[Id_Meters] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OBJ]    Script Date: 21.02.2025 22:01:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OBJ](
	[Id_OBJ] [int] IDENTITY(1,1) NOT NULL,
	[Title] [varchar](max) NOT NULL,
	[Adress] [varchar](max) NOT NULL,
	[User_id] [int] NOT NULL,
	[DataAdd] [date] NOT NULL,
	[Period_id] [int] NOT NULL,
 CONSTRAINT [PK_OBJ] PRIMARY KEY CLUSTERED 
(
	[Id_OBJ] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Periods]    Script Date: 21.02.2025 22:01:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Periods](
	[Id_period] [int] IDENTITY(1,1) NOT NULL,
	[Title] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Periods] PRIMARY KEY CLUSTERED 
(
	[Id_period] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PeriodsRead]    Script Date: 21.02.2025 22:01:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PeriodsRead](
	[Id_PR] [int] IDENTITY(1,1) NOT NULL,
	[id_periods] [int] NOT NULL,
	[DateP] [date] NOT NULL,
	[id_obj] [int] NOT NULL,
 CONSTRAINT [PK_PeriodsRead] PRIMARY KEY CLUSTERED 
(
	[Id_PR] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ReadMeters]    Script Date: 21.02.2025 22:01:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ReadMeters](
	[Id_RM] [int] IDENTITY(1,1) NOT NULL,
	[Count] [real] NOT NULL,
	[PR_id] [int] NOT NULL,
	[Meters_id] [int] NOT NULL,
 CONSTRAINT [PK_ReadMeters] PRIMARY KEY CLUSTERED 
(
	[Id_RM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Recommendations]    Script Date: 21.02.2025 22:01:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Recommendations](
	[Id_recomendations] [int] IDENTITY(1,1) NOT NULL,
	[PR_id] [int] NOT NULL,
	[typeRecom_id] [int] NULL,
	[Date] [date] NOT NULL,
	[TypeSpecialRecom_id] [int] NULL,
 CONSTRAINT [PK_Recommendations] PRIMARY KEY CLUSTERED 
(
	[Id_recomendations] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TypeMeters]    Script Date: 21.02.2025 22:01:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TypeMeters](
	[Id_TM] [int] IDENTITY(1,1) NOT NULL,
	[Title] [varchar](50) NOT NULL,
	[Info] [text] NULL,
	[Unit] [varchar](50) NOT NULL,
 CONSTRAINT [PK_TypeMeters] PRIMARY KEY CLUSTERED 
(
	[Id_TM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TypeRecome]    Script Date: 21.02.2025 22:01:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TypeRecome](
	[Id_TypeRecom] [int] IDENTITY(1,1) NOT NULL,
	[Title] [varchar](50) NOT NULL,
	[Info] [text] NOT NULL,
 CONSTRAINT [PK_TypeRecome] PRIMARY KEY CLUSTERED 
(
	[Id_TypeRecom] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TypeSpecialRecom]    Script Date: 21.02.2025 22:01:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TypeSpecialRecom](
	[Id_TypeSpecialRecom] [int] IDENTITY(1,1) NOT NULL,
	[Title] [varchar](50) NOT NULL,
	[diskription] [text] NOT NULL,
	[Price] [money] NOT NULL,
 CONSTRAINT [PK_TypeSpecialRecom] PRIMARY KEY CLUSTERED 
(
	[Id_TypeSpecialRecom] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 21.02.2025 22:01:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id_User] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](max) NOT NULL,
	[Photo] [image] NULL,
	[Email] [varchar](max) NULL,
	[Login] [varchar](max) NOT NULL,
	[password] [varchar](max) NOT NULL,
	[Balance] [money] NOT NULL,
	[DateRegist] [date] NOT NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[Id_User] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Meters] ON 

INSERT [dbo].[Meters] ([Id_Meters], [Title], [Type_id], [OBJ_id], [Price]) VALUES (1, N'кухня холодная', 1, 1, 5.2000)
INSERT [dbo].[Meters] ([Id_Meters], [Title], [Type_id], [OBJ_id], [Price]) VALUES (5, N'Кухня ', 1, 2, 4.0000)
INSERT [dbo].[Meters] ([Id_Meters], [Title], [Type_id], [OBJ_id], [Price]) VALUES (6, N'кухня ', 2, 2, 12.0000)
SET IDENTITY_INSERT [dbo].[Meters] OFF
GO
SET IDENTITY_INSERT [dbo].[OBJ] ON 

INSERT [dbo].[OBJ] ([Id_OBJ], [Title], [Adress], [User_id], [DataAdd], [Period_id]) VALUES (1, N'Дом', N'улица туева дом кукуева', 1, CAST(N'2024-11-24' AS Date), 1)
INSERT [dbo].[OBJ] ([Id_OBJ], [Title], [Adress], [User_id], [DataAdd], [Period_id]) VALUES (2, N'мой дом', N'ршгфцршгрцфшгрфцшгрцвшфгрр"фцвфцв213123', 2, CAST(N'2024-12-06' AS Date), 1)
SET IDENTITY_INSERT [dbo].[OBJ] OFF
GO
SET IDENTITY_INSERT [dbo].[Periods] ON 

INSERT [dbo].[Periods] ([Id_period], [Title]) VALUES (1, N'месяц')
INSERT [dbo].[Periods] ([Id_period], [Title]) VALUES (2, N'год')
SET IDENTITY_INSERT [dbo].[Periods] OFF
GO
SET IDENTITY_INSERT [dbo].[PeriodsRead] ON 

INSERT [dbo].[PeriodsRead] ([Id_PR], [id_periods], [DateP], [id_obj]) VALUES (1, 1, CAST(N'2024-12-06' AS Date), 2)
INSERT [dbo].[PeriodsRead] ([Id_PR], [id_periods], [DateP], [id_obj]) VALUES (3, 1, CAST(N'2025-02-21' AS Date), 1)
SET IDENTITY_INSERT [dbo].[PeriodsRead] OFF
GO
SET IDENTITY_INSERT [dbo].[ReadMeters] ON 

INSERT [dbo].[ReadMeters] ([Id_RM], [Count], [PR_id], [Meters_id]) VALUES (1, 7, 1, 5)
INSERT [dbo].[ReadMeters] ([Id_RM], [Count], [PR_id], [Meters_id]) VALUES (2, 3, 1, 6)
INSERT [dbo].[ReadMeters] ([Id_RM], [Count], [PR_id], [Meters_id]) VALUES (3, 4, 1, 7)
SET IDENTITY_INSERT [dbo].[ReadMeters] OFF
GO
SET IDENTITY_INSERT [dbo].[TypeMeters] ON 

INSERT [dbo].[TypeMeters] ([Id_TM], [Title], [Info], [Unit]) VALUES (1, N'вода тип 1', N'холодная вода', N'кубометр')
INSERT [dbo].[TypeMeters] ([Id_TM], [Title], [Info], [Unit]) VALUES (2, N'вода тип 2', N'горячая вода', N'кубометр')
INSERT [dbo].[TypeMeters] ([Id_TM], [Title], [Info], [Unit]) VALUES (3, N'газ тип 1', N'сетевой газ', N'кубометр')
SET IDENTITY_INSERT [dbo].[TypeMeters] OFF
GO
SET IDENTITY_INSERT [dbo].[TypeRecome] ON 

INSERT [dbo].[TypeRecome] ([Id_TypeRecom], [Title], [Info]) VALUES (1, N'используйте жидкое мыло', N'для намыливания и смывания требуется меньше воды')
INSERT [dbo].[TypeRecome] ([Id_TypeRecom], [Title], [Info]) VALUES (2, N'Прикрывайте крышку, при варке и жарке', N'при закрытий крышкой, пар от продуктов отражается обратно и ускоряет процесс приготовления, экономично для газа и индукционных плит')
INSERT [dbo].[TypeRecome] ([Id_TypeRecom], [Title], [Info]) VALUES (3, N'используйте остаточное тепло', N'при приготовлений еды, за полминуты до окончания приготовления, можно выключить газ, и оставить доходить еду на остаточном тепле от посуды')
SET IDENTITY_INSERT [dbo].[TypeRecome] OFF
GO
SET IDENTITY_INSERT [dbo].[TypeSpecialRecom] ON 

INSERT [dbo].[TypeSpecialRecom] ([Id_TypeSpecialRecom], [Title], [diskription], [Price]) VALUES (1, N'Сетка для воды', N'установление сетки на все краны, посволяет увеличить объём выходимой воды, что позволяет меньше держать кран открытым', 200.0000)
INSERT [dbo].[TypeSpecialRecom] ([Id_TypeSpecialRecom], [Title], [diskription], [Price]) VALUES (3, N'водонагреватель', N'установка водонагревателя, позволяет отказаться от центрального горячего водоснабжения, и использовать горячую воду только тогда когда нужно ', 15000.0000)
SET IDENTITY_INSERT [dbo].[TypeSpecialRecom] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([Id_User], [Name], [Photo], [Email], [Login], [password], [Balance], [DateRegist]) VALUES (2, N'гнфцегнцфев', NULL, N'123132312', N'1234', N'1234', 5000.0000, CAST(N'2024-12-06' AS Date))
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
ALTER TABLE [dbo].[Meters]  WITH CHECK ADD  CONSTRAINT [FK_Meters_OBJ] FOREIGN KEY([OBJ_id])
REFERENCES [dbo].[OBJ] ([Id_OBJ])
GO
ALTER TABLE [dbo].[Meters] CHECK CONSTRAINT [FK_Meters_OBJ]
GO
ALTER TABLE [dbo].[Meters]  WITH CHECK ADD  CONSTRAINT [FK_Meters_TypeMeters] FOREIGN KEY([Type_id])
REFERENCES [dbo].[TypeMeters] ([Id_TM])
GO
ALTER TABLE [dbo].[Meters] CHECK CONSTRAINT [FK_Meters_TypeMeters]
GO
ALTER TABLE [dbo].[OBJ]  WITH CHECK ADD  CONSTRAINT [FK_OBJ_Periods] FOREIGN KEY([Period_id])
REFERENCES [dbo].[Periods] ([Id_period])
GO
ALTER TABLE [dbo].[OBJ] CHECK CONSTRAINT [FK_OBJ_Periods]
GO
ALTER TABLE [dbo].[OBJ]  WITH CHECK ADD  CONSTRAINT [FK_OBJ_Users] FOREIGN KEY([User_id])
REFERENCES [dbo].[Users] ([Id_User])
GO
ALTER TABLE [dbo].[OBJ] CHECK CONSTRAINT [FK_OBJ_Users]
GO
ALTER TABLE [dbo].[PeriodsRead]  WITH CHECK ADD  CONSTRAINT [FK_PeriodsRead_OBJ] FOREIGN KEY([id_obj])
REFERENCES [dbo].[OBJ] ([Id_OBJ])
GO
ALTER TABLE [dbo].[PeriodsRead] CHECK CONSTRAINT [FK_PeriodsRead_OBJ]
GO
ALTER TABLE [dbo].[PeriodsRead]  WITH CHECK ADD  CONSTRAINT [FK_PeriodsRead_Periods] FOREIGN KEY([id_periods])
REFERENCES [dbo].[Periods] ([Id_period])
GO
ALTER TABLE [dbo].[PeriodsRead] CHECK CONSTRAINT [FK_PeriodsRead_Periods]
GO
ALTER TABLE [dbo].[ReadMeters]  WITH CHECK ADD  CONSTRAINT [FK_ReadMeters_Meters] FOREIGN KEY([Meters_id])
REFERENCES [dbo].[Meters] ([Id_Meters])
GO
ALTER TABLE [dbo].[ReadMeters] CHECK CONSTRAINT [FK_ReadMeters_Meters]
GO
ALTER TABLE [dbo].[ReadMeters]  WITH CHECK ADD  CONSTRAINT [FK_ReadMeters_PeriodsRead] FOREIGN KEY([PR_id])
REFERENCES [dbo].[PeriodsRead] ([Id_PR])
GO
ALTER TABLE [dbo].[ReadMeters] CHECK CONSTRAINT [FK_ReadMeters_PeriodsRead]
GO
ALTER TABLE [dbo].[Recommendations]  WITH CHECK ADD  CONSTRAINT [FK_Recommendations_PeriodsRead] FOREIGN KEY([PR_id])
REFERENCES [dbo].[PeriodsRead] ([Id_PR])
GO
ALTER TABLE [dbo].[Recommendations] CHECK CONSTRAINT [FK_Recommendations_PeriodsRead]
GO
ALTER TABLE [dbo].[Recommendations]  WITH CHECK ADD  CONSTRAINT [FK_Recommendations_TypeRecome] FOREIGN KEY([typeRecom_id])
REFERENCES [dbo].[TypeRecome] ([Id_TypeRecom])
GO
ALTER TABLE [dbo].[Recommendations] CHECK CONSTRAINT [FK_Recommendations_TypeRecome]
GO
ALTER TABLE [dbo].[Recommendations]  WITH CHECK ADD  CONSTRAINT [FK_Recommendations_TypeSpecialRecom] FOREIGN KEY([TypeSpecialRecom_id])
REFERENCES [dbo].[TypeSpecialRecom] ([Id_TypeSpecialRecom])
GO
ALTER TABLE [dbo].[Recommendations] CHECK CONSTRAINT [FK_Recommendations_TypeSpecialRecom]
GO
